#container {
    height: 500px; 
    min-width: 410px; 
    max-width: 800px; 
    margin: 0 auto; 
}
.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.border-md-right {
    border-right: 0.5px ridge rgb(65, 61, 61);
  }
  
  @media (max-width: 768px) {
  
    .border-md-right {
      border-right: none;
    }
  
  }

  .logo h3{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    color: rgba(20, 16, 16, 0.1);
    background-image: url('../img/animate/img1.png');
    background-repeat: repeat-x;
    -webkit-background-clip: text;
    animation: animate 15s linear infinite
  }
  @keyframes animate{
    0%
    {
      background-position: left 0px top 200px;
    }
    40%
    {
      background-position: left 1000px top -150px;
    }
    80%
    {
      background-position: left 2000px top -80px;
    }
    100%
    {
      background-position: left 200px top 100px;
    }
    
  }

  .btn_f{
    background:#fb246a;
    color:#fff !important;
    display:inline-block;
    padding:18px 44px;
    font-family:"Muli",sans-serif;
    font-size:14px;
    font-weight:400;
    border:0;
    border:1px solid #fb246a;
    letter-spacing:3px;
    text-align:center;
    color:#fb246a;
    text-transform:uppercase;
    cursor:pointer
  }
  .btn_f:hover{
    background:#fff ;
    color:#fb246a!important;
    border:1px solid #fb246a
  }
  .btn_f:focus{
    outline:none
  }
  .btn_f.large-width{width:220px}