.p_post{-ms-flex:1 1 0%;flex:1 1 0%;min-width:0}
.post{padding:1.5rem;background:#fff}
.post{display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;margin-top:1rem}
.post:first-child{border:0}
.post{padding:3rem;-ms-flex-direction:row;flex-direction:row}
.p_author{width:12%;margin-right:3rem}
.p_author{-ms-flex-positive:0;flex-grow:0;text-align:center}
.p_avatar{display:none}
.m_name{font-weight:700}
.p_date,.p_date a,.p_edit_quote,.p_edit_quote a{color:#626262}@media screen and (min-width:545px){.become-alsanaute-img{float:right}.become-alsanaute-arg{margin-top:1rem}}
.p_date,.p_edit_quote{text-align:right}
.p_date{margin-bottom:2rem;font-style:italic;font-size:.8em;text-align:center}@media screen and (min-width:545px){.p_date a,.p_edit_quote a{margin-left:1.5rem;display:inline-block}.p_date{float:right;text-align:left}}

#wrapper {
    width: 100%;
    overflow: hidden; }
  
  .register-box {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 2%; }
    .register-box a {
      display: block; }
  
  .step-register {
    position: absolute;
    height: 100%; }
  
  @media (max-width: 767px) {
    #msform fieldset,
    .login-register,
    .step-register {
      position: relative; } }
  